header {
    display: flex;
    align-items: center;
    position: static;
    top: 50px;
}

header img {
    position: absolute;
    top: 20px;
    margin-right: 20px;
}

/* header h1 {
    position: relative;
    top: 40px;
    left: 20px;
}

header h2 {
    position: relative;
    top: 5px;
} */

