div.container {
    border: 3px;
    padding: 20px;
}

div.float {
    width: 50%;
    float: left;
    padding: 20px;
    border: 2px solid red;
}

.float img {
    width: 10px;
    height: auto;
}

/* header h1 {
    position: relative;
    top: 40px;
    left: 20px;
}

header h2 {
    position: relative;
    top: 5px;
} */

